@{
    ViewBag.Title = "Index";
}

<link href="~/css/pgalerta.css" rel="stylesheet"/>

<div class="tudo">
    <div class="biru">
        <div class="row">
            <br />

            <div>
                <h3>Olá @User.Identity?.Name!</h3>
                <br />
                <h4>Eu sou David um dos criadores desse programa</h4>
                <h4>Se você estiver precisando de alguma ajuda entre em contato comigo<a href="https://www.linkedin.com/in/david-felipe-57a197240">David Felipe</a></h4>
                <h4>Ou com meus amigos:<a href="https://www.linkedin.com/in/antonio-neto-83852023b">Antonio Neto</a>, <a
                    href="https://www.linkedin.com/in/adson-dias-a3709623b">Adson Dias</a>, <a
                    href="https://www.linkedin.com/in/breno-dinizio-248437240">Breno Dinizio</a> e <a
                    href="https://www.linkedin.com/in/felipebenjamim">Felipe Beijamin</a>
                    </h4>
            </div>   

        </div>
        <br />
        <br />
        <br />
        <p><a href="/Tipo/Index" class="btn btn-primary">Voltar</a></p>
    </div>
</div>