@{
    ViewData["Title"] = "Home Page";
}

<h2>sexo</h2>

@*<body>
   <div class="text-center">
      <a class="btn btn-primary" href="/ProTipo/Alerta">Entrar</a>
      <p>Mais detalhes: <a href="https://antoniocarlosreis1.wixsite.com/blackcrisper">acesse</a>.</p>
   </div>
</body>


<style>
    body{
        background-color:gray;
    }
    text-center{
        display:flex;
        align-items:center;
        flex-direction:column;
    }
    a{
        color:white
    }
</style>*@