* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo {
    background-color: gray;

}

.alerta {
    display: flex;
    justify-content:center;
    align-items:center;
    height:600px;
}

.fundo-alerta {
    height: auto;
    width: 300px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    border-radius: 8px;
}