
.cima {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}


nav {
    display: flex;
    justify-content: space-between;
    padding:1.5rem 6rem;
    /*align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 11vh;*/
}

.nav-link a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}


    .nav-link a:hover {
        opacity: 0.7s;
    }

.logo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.nav-list {
    /*list-style: none;*/
    display: flex;
    align-items:center;
    /*margin-top: 10px;*/
}

    .nav-list li {
        letter-spacing: 2px;
        margin-left: 20px;
    }

.mobile-menu {
    display: none;
    cursor: pointer;
}

    .mobile-menu div {
        width: 32px;
        height: 2px;
        background: #fff;
        margin: 8px;
        transition: 0.3s;
    }

@media (max-width: 999px) {

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

        .nav-list li {
            margin-left: 0;
            opacity: 0;
            margin-top: 8px;
        }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
    z-index: 1;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
