
@model IEnumerable<TCC_2._0.Models.ITENSENTRADA>


@{
    ViewBag.Title = "Criar";
 
}

<h2>Criar</h2>

<div>
    <form action="/ITENSENTRADA/Criar" enctype="multipart/form-data" method="post">

        
         <div>
            <label>Produto: </label>
            <select id="entrada" name="entrada">

                @foreach (var item in ViewBag.listaentra)
                {
                    <option value="@item.ENTID">@item.ENTORIGEM</option>
                }

            </select>

        </div>

        
        <div>
            <label>Pro Tipo: </label>
            <select id="protipo" name="protipo">
               
                @foreach (var item in ViewBag.listapt)
                {
                     
                    <option value="@item.PTID">@item.PTID</option>
                } 

            </select>

        </div>

        <div class="form-group">
            <label for="qtd">Quantidade</label>
            <input  class="form-control"
                   maxlength="100" id="qtd" name="qtd"
                   required />
        </div>

        <div class="form-group">
            <label for="preco">Preço</label>
            <input  class="form-control"
                   maxlength="100" id="preco" name="preco"
                   required />
        </div>

       
       






        <div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <a href="/ITENSENTRADA/index" class="btn btn-primary">Voltar</a>

        </div>



    </form>
</div>