@model TCC_2._0.Models.ITENSENTRADA

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletando</h2>

<div>
    <form action="/ITENSENTRADA/ConfirmeDelete?id=@Model.ITEID" method="post">
       
         <div>
            <class ="form-group">
                <label>Entrada</label>
                <label><@Model.ENTID"</label>
        </div>

        <div>
            <class ="form-group">
                <label>Produto</label>
                <label>@Model.PTID</label>
        </div>
        <div>
            <class ="form-group">
                <label>Quantidade</label>
                <label>@Model.ITEQUANTIDADE</label>
        </div>
        <div>
            <class ="form-group">
                <label>Preço</label>
                <label>@Model.ITEPRECO</label>
        </div>
       

        <br />

        <div>
            <p><a href="/entrada/index" class="btn btn-primary">Voltar &raquo;</a></p>
            <button type="submit" class="btn btn-danger">Deletar</button>
        </div>



    </form>
</div>