@model  TCC_2._0.Models.ENTRADA


@{
    ViewBag.Title = "Editar";
}

<h2>Editando</h2>

<div>
    <form action="/Entrada/Editar?id=@Model.ENTID" method="post">
        <div>
            <class ="form-group">
                <label for="origem">Origem</label>
                <input type="text" class="form-control"
                       maxlength="100" id="origem" name="origem"
                       value="@Model.ENTORIGEM"
                       required />
        </div>

        <div>
            <class ="form-group">
                <label for="observacao">Observação</label>
                <input type="text" class="form-control"
                       maxlength="100" id="observacao" name="observacao"
                       value="@Model.ENTOBSERVACAO"
                       required />
        </div>

        <div>
            <class ="form-group">
                <label for="data">Data Entrada</label>
                <input type="datetime" class="form-control"
                       maxlength="100" id="data" name="data"
                       value="@Model.ENTDATA"
                       required />
        </div>





        <div>



            <div>
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="/entrada/index" class="btn btn-primary">Voltar</a>

            </div>


        </div>
    </form>
</div>