@page
@model LoginModel

@{

    ViewData["Title"] = "Login";
}

<link href="~/css/telaLogin.css" rel="stylesheet"/>

<section>
  <form id="account" method="post">
            <div class="container">
                <div class="contact-box">
                    <div class="left"></div>
                    <div class="right">
                        <h2>Login</h2>
                        <br>
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" class="field" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <label asp-for="Input.Password" class="form-label">Senha</label>
                        <input asp-for="Input.Password" class="field" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <button id="login-submit" type="submit" class="btn-login-forms">Login</button>
                    </div>
                </div>
            </div>
 </form>
 </section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
