@model IEnumerable<TCC_2._0.Models.PROTIPO>


@{
    ViewBag.Title = "Alerta";
}

<link href="~/css/CRUD2.css" rel="stylesheet"/>

<body class="fundo">
  

    <h2>Atualizar Estoque</h2>

   
    <div>


       
          
                @foreach (var item in Model)
                {

              
                    
                      

                        @if (item.PTESTOQUE < item.PTMINIMO)
                        {

                            <a href="/ProTipo/Atualizar?id=@item.PTID"  type="button">
                                <div
                                style="  background-color: darkred;
                                        height: 100px;
                                        width: 150px;
                                        border-radius: 5px;
                                        border:solid black;
                                        display: inline-block;
                                      
                                        vertical-align: central;
                                        color: white">

                                  <div>
                                      
                                        <label>Em Estoque: @item.PTESTOQUE </label>
                            
                                       <label>Produto: @item.PRODUTO.PRODESCRICAO</label><br/>
                                 
                                       <label>Tipo: @item.TIPO.TIPNOME</label>
                            

                                    
                                </div>
                                </div>

                            </a>




                        }

                     }
                      

                     



             




    

    </div>








    <p><a href="/home/projetos" class="btn btn-primary">Voltar &raquo;</a></p>
 

</body>




