@{
    ViewBag.Title = "AvisoS";
}

<div class="row">
    <br />
    

    <div class="col-md-4">
        <h1>Você não pode retirar essa quantidade, pois está fora do limite</h1>
    </div>   

</div>
<br />
<br />
<br />
<br />
<br />
<p><a href="/ProTipo/SaidaEstoque" class="btn btn-primary">Voltar</a></p>