@model  TCC_2._0.Models.PROTIPO

@{
    ViewBag.Title = "Deletar";
}

<link href="~/css/pgalerta.css" rel="stylesheet"/>

<h1>Deletando</h1>

<div>
    <form action="/ProTipo/ConfirmeDelete?id=@Model.PTID" method="post">
        <div class="descricao-delete">
            <class ="form-group">
                <h5>Produto</h5>
                <label><@Model.PROID"</label>
        </div>

        <div class="descricao-delete">
            <class ="form-group">
                <h5>Tipo</label>
                <label>@Model.TIPID</label>
        </div>

        <div class="descricao-delete">
            <class ="form-group">
                <h5>Mínimo</label>
                <label>@Model.PTMAXIMO</label>
        </div>

        <div class="descricao-delete">
            <class ="form-group">
                <h5>Máximo</label>
                <label>@Model.PTMINIMO</label>
        </div>

        <div class="descricao-delete">
            <class ="form-group">
                <h5>Estoque</label>
                <label>@Model.PTESTOQUE</label>
        </div>

        <div class="descricao-delete">
            <p><a href="/protipo/index" class="btn btn-primary">Voltar &raquo;</a></p>
            <button type="submit" class="btn btn-danger">Deletar</button>
        </div>



    </form>
</div>
