@model  TCC_2._0.Models.CATEGORIA


@{
    ViewBag.Title = "Editar";
}

<body class="fundo">

    <h2>Editando</h2>

<div >
    <form action="/Categorias/Editar?id=@Model.CATID" method="post">
        <div class="letras">
            <class ="form-group">
                <label for="descricao" class="letras">Descrição</label>
                <input type="text" class="form-control"
                       maxlength="100" id="descricao" name="descricao"
                       value="@Model.CATDESCRICAO"
                       required />
        </div>
      
        <div>
        


                <div>
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <a href="/Categorias/index" class="btn btn-primary">Voltar</a>

                </div>


        </div>
    </form>

 </div>
</body>



<style>

    h2 {
        color: white;
    }

    .letras {
        color: white;
    }

  


    .fundo {
    background-image: url("https://st.depositphotos.com/2069237/2231/i/450/depositphotos_22310611-stock-photo-blackboard-chalkboard-texture.jpg");
      background-repeat: no-repeat;
     
     background-attachment: fixed;
     background-size: 100% 100%;
}    
    
</style>