@model  TCC_2._0.Models.SAIDA


@{
    ViewBag.Title = "Editar";
}

<h2>Editando</h2>

<div>
    <form action="/Saida/Editar?id=@Model.SAIID" method="post">
 

        <div>
            <class ="form-group">
                <label for="data">Data Saida</label>
                <input type="datetime" class="form-control"
                       maxlength="100" id="data" name="data"
                       value="@Model.SAIDATA"
                       required />
        </div>





        <div>



            <div>
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="/saida/index" class="btn btn-primary">Voltar</a>

            </div>


        </div>
    </form>
</div>