@{
    ViewBag.Title = "AvisoD";
}

<link href="~/css/pgalerta.css" rel="stylesheet"/>

<div class="tudo">
    <div class="aviso">
        <div class="row">
            <br />

            <div>
                <h3>Você não pode deletar isso, pois está sendo utilizado.</h3>
            </div>   

        </div>
        <br />
        <br />
        <br />
        <p><a href="/Tipo/Index" class="btn btn-primary">Voltar</a></p>
    </div>
</div>



