@model TCC_2._0.Models.TIPO

@{
    ViewBag.Title = "Deletar";
}

<link href="~/css/funcaoCrud.css" rel="stylesheet"/>

<div class="tudo">
      <div class="delete">
        <form action="/Tipo/ConfirmeDelete?id=@Model.TIPID" method="post">
            <div>
                 <h2>Deletando o Intem</h2>
                  <br />
                 <h5>Descrição:</h5>
            </div>
        
            <div class="descricao-delete">
                <class ="form-group">
                    <label>@Model.TIPNOME</label>
            </div>

            <div class="btn-delete">
                <p><a href="/Tipo/index" class="btn btn-primary">Voltar &raquo;</a></p>
                <button type="submit" class="btn btn-danger">Deletar</button>
            </div>

        </form>
     </div>
</div>
