@model TCC_2._0.Models.TIPO

@{
    ViewBag.Title = "Deletar";
}

<link href="~/css/funcaoCrud.css" rel="stylesheet"/>


<div class="delete">
    <form action="/Tipo/ConfirmeDelete?id=@Model.TIPID" method="post">
        <div>
             <h2>Deletando o Intem</h2>
        </div>
                      <br />

        <div class="descricao-delete">
            <class ="form-group">
                <label>Descrição</label>
                <label>@Model.TIPNOME</label>
        </div>

     

        <br />

        <div class="btn-delete">
            <p><a href="/Tipo/index" class="btn btn-primary">Voltar &raquo;</a></p>
            <button type="submit" class="btn btn-danger">Deletar</button>
        </div>



    </form>
</div>